.navigationContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  position: relative;
}

.dateContainer {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: end;

  gap: 10px;
}

.dateContainer > h4 {
  color: rgb(157, 157, 209);
}

.mobileContainer {
  display: none;
}

.titleNavcontainer {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.titleNavcontainer > .title > h2 {
  color: white;
}

.navigationContent > ul {
  display: flex;
  gap: 10px;
}

.navigationContent > ul > li {
  list-style-type: none;
}

.navigationContent > ul > li > a {
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(247, 244, 244);
  text-decoration: none;
}
.navigationContent > ul > li > a.activeNavLink {
  background-color: rgb(157, 157, 209);
  padding: 2px;
  border-radius: 3px;
}

@media only screen and (min-width: 320px) {
  .navigationContent {
    display: none;
  }
  .mobileContainer {
    display: block;
    width: 100%;
    height: 0;
    background-color: rgba(3, 8, 22, 0.418);
    position: absolute;
    left: 0;
    top: 54px;
    z-index: 99;
    overflow: hidden;
  }

  .mobileIcon {
    width: 30px;
  }
  .mobileContainer > ul {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
  }
  .mobileContainer > ul > li {
    list-style: none;
  }

  .mobileContainer > ul > li > a {
    color: white;
    font-weight: bold;
  }

  .titleNavcontainer {
    width: 200px;
    justify-content: space-between;
  }

  .dateContainer > h4 {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .mobileContainer,
  .mobileIcon {
    display: none;
  }

  .dateContainer {
    width: 50%;
  }
  .dateContainer > h4 {
    display: block;
  }

  .navigationContent {
    display: block;
  }
}
